<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <div th:if="${errorMessage}" class="alert alert-danger text-center" th:text="${errorMessage}"></div>


    <form th:action="@{/legalpersons/save}" method="post" th:object="${legalperson}"
          style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required minlength="2" maxlength="75" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required minlength="5" maxlength="45" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Phone number:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{phoneNumber}" class="form-control" required minlength="4" maxlength="45" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Address:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{address}" class="form-control" required minlength="2" maxlength="45"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">KRS Number:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{krsNumber}" class="form-control" required minlength="2" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}" />
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2" >Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>

        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/legalpersons}]]";
    }
</script>
</body>
</html>